script(src='/socket.io-1.3.5.js')
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/materialize/dist/js/materialize.min.js')
//-script(src='/bower_components/Chart.js/Chart.js')
script(src='/scripts.js')