head
	meta(charset='utf-8')
	title!= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
	link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/style.css')