doctype html
html
	include ./includes/head.jade
	body
		.container
			.row
				// card #1
				#atab1.col.s12
					h3 Smart Home
					.card
						.card-content
							.card-title.grey-text.text-darken-4 Lights
							ul.collection
								li.collection-item
									i.fa.fa-sun-o
									|  Light Sensor: 
									span#lightSensorReading #
									span#toggle-lightSensor.badge Toggle Sensor
								li.collection-item
									i.fa.fa-lightbulb-o
									|  LED State: 
									span#lightLedState #
									span#toggle-lightSensor-light.badge Toggle LED
					.card
						.card-content
							.card-title.grey-text.text-darken-4 Front Door
							ul.collection
								li.collection-item
									i.fa.fa-arrows-h
									|  Ultrasonic Sensor: 
									span#ultraCm #
									|  cm /
									span#ultraInch
									|  inch
								li.collection-item
									i.fa.fa-lightbulb-o
									|  Front Door LED: 
									span#frontLedState #
					.card
						.card-content
							.card-title.grey-text.text-darken-4 Fans
							ul.collection
								li.collection-item
									i.fa.fa-fire
									|  Temperature: 
									span#tempC #
									|  &deg;C /
									span#tempF #
									|  &deg;F
								li.collection-item.action-fans
									i.fa.fa-spinner
									|  Fan State: 
									span#fan #
									span#toggle-motor.badge Toggle Fan

		include ./includes/footer.jade